{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}

    {% endblock head %}
    <title>EIVOM</title>

      <script>
      /*to prevent Firefox FOUC, this must be here*/
        let FF_FOUC_FIX;
      </script>
  </head>

  <body class="bg-zinc-900" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block header %}
      {% include "movies/header.html" %} 
    {% endblock header %}


    {% block content %}



    {% endblock content %}

   


    {% block footer%}
<footer class="bg-zinc-800">
        <div class="mx-auto max-w-7xl overflow-hidden py-10 lg:px-8">
            <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-7" aria-label="Footer">
                <div>
                    <a href="#" class="text-sm leading-6 text-amber-400 font-mono hover:text-amber-300">About</a>
                </div>
                <div>
                    <a href="https://github.com/" class="text-sm leading-6 text-amber-400 font-mono hover:text-amber-300">GitHub</a>
                </div>
                <div>
                    <a href="https://www.themoviedb.org/" class="text-sm leading-6 text-amber-400 font-mono hover:text-amber-300">themoviedb.org</a>
                </div>
            </nav>
        
            <p class="mt-10 text-center text-xs leading-5 text-zinc-400 font-mono">&copy; 2024 | EIVOM</p>
        </div>
    </footer>

    {% endblock footer %}

  <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
  <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>

  {% block scripts %}

  {% endblock scripts %}

</body>
</html>