<div id="error_modal" _="on closeModal or listChanged remove me" class="relative z-100" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-zinc-900 bg-opacity-75 transition-opacity md:block"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex w-full mx-auto transform
      text-left text-base transition
      md:my-8 md:max-w-2xl md:px-4 lg:max-w-4xl">
    
      <div class="relative flex w-full
              items-center overflow-hidden bg-zinc-800 rounded-lg  border-2 border-amber-400
              px-4 pb-8 pt-14 shadow-2xl sm:px-6 sm:pt-8 md:p-6 lg:p-8">
      
        <form class="bg-zinc-900 rounded-lg w-full md:col-span-2">
            <div class="px-4 py-3 sm:p-8">
              <div class="flex flex-row gap-x-2">
                <svg
                  class="fill-amber-400" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                  <path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
                </svg>
                <p class="block overflow-hidden
                        text-ellipsis mb-4 text-amber-400 text-xl font-bold font-mono">Se produjo un error</p>
              </div>
              
              <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4 font-mono text-white">
                  {{error_description}}
                </div>
              </div>
            <div class="mt-6 mr-3 flex items-center justify-end gap-x-2">
              <button type="button"  
                    _="on click trigger closeModal"
                      class="text-sm font-bolc text-amber-400 border-2 border-amber-400 px-3 py-2 rounded-lg font-mono">Cerrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
